<div class='col-md-4 col-md-offset-4'>
  <div class='jumbotron' id='loginForm'>
    <%= form_tag login_path do%>
    <h3>My Personal RSS reader</h3><br>  
    <div class='form-group'>
    <%= label_tag :username %> 
    <%= text_field_tag :username, params[:username], autofocus:true, class: 'form-control' %>
    </div>
    <div class='form-group'>
    <%= label_tag :password %>
    <%= password_field_tag :password, params[:password], class: 'form-control'%>
    </div>
    <%= submit_tag "Log In", class: 'btn btn-default' %> <br><br>
    <%= link_to "Don't have an account? Sign up here", signup_path %><br><br>
    <% end %>
  </div>
</div>